* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --nav--bg--color: #466428;
    --nav--text--color: white;
}

.fotoLogo {
    width: 20rem;
    height: 20rem;
}

html{
    min-height: 100%;
    background-image: url(maquinas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}

.marca{
    font-size: 5rem;
    text-align: center;
}

ul{
    list-style-type: none;
    font-size: 3rem;
 }

ul a {
    text-decoration: none;
    color: var(--nav--text--color);
    display: block;
    text-align: center;
    margin: 5rem 0;
}

.menu{
    width: 21rem;
    height: 75rem;
    background-color: var(--nav--bg--color);
    color: var(--nav--text--color);
    display: flex;
    flex-direction: column;
    opacity: 0.9;
    
}

.conteudo{
    display: flex;
}

.conteiner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white

}

form{
    display: flex;
    flex-direction: column;
    width: 60rem;
    margin-left: 7rem;
    margin-bottom: 7rem;
    padding: 20px;
    border: 2px solid white;
    border-radius: 15px;
    font-size: 3rem;
    background: rgba(0, 0, 0, 0.6 );
    gap: 0.5rem;
}

input[type="file"]{

    display: none;

}

label[type="curriculo"]{
    cursor: pointer;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 3rem;
    
}

label[type="curriculo"]:hover{

    color: #facf29;
    border: 2px solid #facf29;
    

}

button[type="submit"]{
    font-size: 3rem;
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0 );
    cursor: pointer;

}

button[type="submit"]:hover{
    color: #33B300;
    border: 2px solid #33B300;

}

button[type="reset"]{
    font-size: 3rem;
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0 );
    cursor: pointer;

}

button[type="reset"]:hover{
    color: red;
    border: 2px solid red;

}

